<!-- <script src="assets/js/main.min.js"></script>
<script src="/assets/js/copy-citation.js"></script> -->

<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/copy-citation.js' | relative_url }}"></script>

<!-- 引入必要的脚本和样式 -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/lang-switcher.css">
<script src="{{ base_path }}/assets/js/i18n.js"></script>
<script src="{{ base_path }}/assets/js/lang-switcher.js"></script>


{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
