---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";
@import "link-hover-tooltip"; 
@import "custom";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;

        img,
        video {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;

            transition: transform 0.25s ease, box-shadow 0.25s ease;
            border-radius: 6px;     // 可选：让效果更统一更现代
        }

        img:hover,
        video:hover {
            transform: scale(1.03);
            box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
    z-index: 999;
    border-radius: 3px;
}

.badge-inline {
    display: inline-block;
    color: #ffffff;
    background-color: #00369f;
    padding: 0.15em 0.65em;
    border-radius: 3px;
    font-size: .8em;
    line-height: 1.2;
    margin-left: 0.0em;
    vertical-align: baseline;
}

/* Footer 样式 */
.site-footer {
  text-align: center;
  color: #777;
  font-size: 0.85rem;
  padding: 15px 0 25px 0;
}

.footer-divider {
  width: 90%;
  margin: 30px auto 25px auto;
  border: none;
  border-top: 1px solid #e0e0e0; /* 浅灰色分割线 */
}

.footer-content p {
  margin: 3px 0;
}

.footer-content a {
  color: #777;
  text-decoration: underline;
}

.footer-content a:hover {
  color: #444;
}